/**
 * Saudi Emaar Website
 * Version: 1.0
 * Author: Mntsher company
 * Author URL: https://mntsher.com
 * Designer: Ayat Ahmed
 * Designer URL: instagram.com/ayaat.a7med
 * Copyrights 2019
 */
/*Vars List Start*/
/*Vars List End*/
/*Media Queries Start*/
@media (max-width: 575.98px) {
  .jRight, .jLeft {
    text-align-last: center; }

  .dropdown-menu:after {
    display: none !important; }

  .popup video, .popup iframe, .popup img {
    height: auto; }

  .gallery-row {
    columns: 1; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .product-item .img img {
    height: 100% !important;
    width: auto !important; }

  .navbar-collapse .navbar-nav {
    overflow: hidden;
    background: #765F25;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 0;
    z-index: 9;
    padding: 80px 0 20px 0;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out; }
    .navbar-collapse .navbar-nav .dropdown-menu {
      background: transparent !important;
      border: 0 !important;
      box-shadow: none !important; }
    .navbar-collapse .navbar-nav a {
      color: #ffffff !important;
      font-size: 20px !important;
      padding: 10px; }
  .navbar-collapse.show .navbar-nav {
    width: 70%;
    padding: 80px 20px 20px 20px; }

  .aa-topbar .aa-menu {
    position: fixed;
    padding: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 0;
    overflow: scroll;
    align-items: start; }
    .aa-topbar .aa-menu .aa-menu-wrap {
      box-shadow: none !important; }
      .aa-topbar .aa-menu .aa-menu-wrap li {
        display: block !important; }
        .aa-topbar .aa-menu .aa-menu-wrap li ul {
          display: block !important;
          position: relative !important; }
    .aa-topbar .aa-menu.show {
      width: 70%;
      padding: 50px; }

  .aa-dropmenu .aa-menu-wrap.show {
    position: relative; }

  .aa-topbar .aa-megamenu ul.show {
    padding: 10px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .jRight, .jLeft {
    text-align-last: center; }

  .popup video, .popup iframe, .popup img {
    height: auto; }

  .gallery-row {
    columns: 1; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .product-item .img img {
    height: 100% !important;
    width: auto !important; }

  .navbar-collapse .navbar-nav {
    overflow: hidden;
    background: #BB9248;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 0;
    z-index: 9;
    padding: 0;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out; }
    .navbar-collapse .navbar-nav .dropdown-menu {
      background: transparent !important;
      border: 0 !important;
      box-shadow: none !important; }
    .navbar-collapse .navbar-nav a {
      color: #ffffff !important; }
  .navbar-collapse.show .navbar-nav {
    width: 70%;
    padding: 80px 20px 20px 20px; }

  .coll-butn {
    color: #BB9248 !important; }

  .navbar-brand img {
    height: 60px; }

  .aa-topbar .aa-menu {
    position: fixed;
    padding: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 0;
    overflow: scroll;
    align-items: start; }
    .aa-topbar .aa-menu .aa-menu-wrap {
      box-shadow: none !important; }
      .aa-topbar .aa-menu .aa-menu-wrap li {
        display: block !important; }
        .aa-topbar .aa-menu .aa-menu-wrap li ul {
          display: block !important;
          position: relative !important; }
          .aa-topbar .aa-menu .aa-menu-wrap li ul li ul {
            display: block !important;
            left: 0 !important;
            margin: 0 10px; }
    .aa-topbar .aa-menu.show {
      width: 70%;
      padding: 50px; }

  .aa-dropmenu .aa-menu-wrap.show {
    position: relative; }

  .aa-topbar .aa-megamenu ul.show {
    padding: 10px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .jRight, .jLeft {
    text-align-last: center; }

  .popup video, .popup iframe, .popup img {
    height: auto; }

  .gallery-row {
    columns: 2; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .product-item .img img {
    height: 100% !important;
    width: auto !important; }

  .navbar-collapse .navbar-nav {
    overflow: hidden;
    background: #BB9248;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 0;
    z-index: 9;
    padding: 0;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out; }
    .navbar-collapse .navbar-nav .dropdown-menu {
      background: transparent !important;
      border: 0 !important;
      box-shadow: none !important; }
    .navbar-collapse .navbar-nav a {
      color: #ffffff !important; }
  .navbar-collapse.show .navbar-nav {
    width: 70%;
    padding: 80px 20px 20px 20px; }

  .coll-butn {
    color: #BB9248 !important; }

  .navbar-brand img {
    height: 100px; }

  .aa-topbar .aa-menu {
    position: fixed;
    padding: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 0;
    overflow: scroll;
    align-items: start; }
    .aa-topbar .aa-menu .aa-menu-wrap {
      box-shadow: none !important; }
      .aa-topbar .aa-menu .aa-menu-wrap li {
        display: block !important; }
        .aa-topbar .aa-menu .aa-menu-wrap li ul {
          display: block !important;
          position: relative !important; }
          .aa-topbar .aa-menu .aa-menu-wrap li ul li ul {
            display: block !important;
            left: 0 !important;
            margin: 0 10px; }
    .aa-topbar .aa-menu.show {
      width: 70%;
      padding: 50px; }

  .aa-topbar .aa-megamenu ul.show {
    padding: 10px; }

  .aa-dropmenu .aa-menu-wrap.show {
    position: absolute; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .jRight {
    text-align-last: right; }

  .jLeft {
    text-align-last: left; }

  .popup video, .popup iframe {
    height: 100%; }

  #main-footer .logo {
    margin-top: 100px; }

  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .navbar-brand img {
    height: 100px; }

  .gallery-row {
    columns: 3; }

  .aa-topbar .aa-megamenu ul.show {
    padding: 40px; }

  .aa-topbar .aa-menu {
    position: relative;
    align-items: center; }
  .aa-topbar .aa-megamenu ul {
    width: 1140px; }

  .aa-dropmenu .aa-menu-wrap.show {
    position: absolute; } }
@media (min-width: 1200px) {
  .jRight {
    text-align-last: right; }

  .jLeft {
    text-align-last: left; }

  .popup video, .popup iframe {
    height: 100%; }

  #main-footer .logo {
    margin-top: 100px; }

  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .navbar-brand img {
    height: 100px; }

  .gallery-row {
    columns: 3; }

  .aa-topbar .aa-megamenu .show {
    padding: 40px; }

  .aa-topbar .aa-menu {
    position: relative;
    align-items: center; }
  .aa-topbar .aa-megamenu ul {
    width: 1140px; }

  .aa-dropmenu .aa-menu-wrap.show {
    position: absolute; } }
/*Media Queries End*/
/*Static Elements Style Start*/
.mouse, .butn, form input[type=submit], .sub-content .setting ul li a, #goTop, .arrows .next, .arrows .prev, .aa-check, .aa-radio, .main-bar .search form button, #prodetails .options input[type=radio] {
  cursor: pointer !important; }

.flip-y {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flip-x {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.jRight,
.jLeft,
.jCenter {
  text-align: justify; }

.jCenter {
  text-align-last: center; }

.txt-center, .arrows .next, .arrows .prev, .product-item .wrap .actions {
  text-align: center; }

.f-light, footer ul li a {
  font-family: "Lato Light";
  font-weight: 100; }

.f-bold {
  font-family: "Lato Black";
  font-weight: bold; }

.secPad-top {
  padding-top: 110px; }

.secPad-bottom {
  padding-bottom: 110px; }

.lcolorBG, .butn.butnLight.bordered:hover, form input.butnLight.bordered[type=submit]:hover, .sub-content .setting ul li a.butnLight.bordered:hover, .butn.butnYellow:hover, form input.butnYellow[type=submit]:hover, .sub-content .setting ul li a.butnYellow:hover, .butn.butnGrad:hover, form input.butnGrad[type=submit]:hover, .sub-content .setting ul li a.butnGrad:hover, .main-title.line:after, .arrows .next:hover, .arrows .prev:hover, .btn-primary, .aa-topbar.light a:hover, .aa-topbar.light .aa-link:not(.butn):hover, .aa-topbar.light .panel-heading a:not(.butn):hover, .panel-heading .aa-topbar.light a:not(.butn):hover, .aa-check:after, .aa-radio:after, .aa-topbar .aa-menu .aa-menu-wrap li ul .aa-link:hover, .aa-topbar .aa-menu .aa-menu-wrap li ul .panel-heading a:hover, .panel-heading .aa-topbar .aa-menu .aa-menu-wrap li ul a:hover, .product-item .wrap .actions a:hover, .newsletter:before, .sub-content .setting.pages ul a:hover, .sub-content .setting.pages ul a.active, .main-sidebar .side-item li a.active, .main-sidebar .InputSliderRange-Fill, footer ul li a:hover {
  background: #BB9248; }

.dcolorBG, .butn.butnWhite:hover, form input.butnWhite[type=submit]:hover, .aa-topbar.dark .butn:hover, .aa-topbar.dark form input[type=submit]:hover, form .aa-topbar.dark input[type=submit]:hover, .aa-topbar.dark .sub-content .setting ul li a:hover, .sub-content .setting ul li .aa-topbar.dark a:hover, .sub-content .setting ul li a.butnWhite:hover, .butn.butnBlack:hover, form input.butnBlack[type=submit]:hover, .sub-content .setting ul li a.butnBlack:hover, .butn.butnLight:hover, form input.butnLight[type=submit]:hover, .sub-content .setting ul li a.butnLight:hover, .butn.butnDark.bordered:hover, form input.bordered[type=submit]:hover, .aa-topbar.light .butn.bordered:hover, .aa-topbar.light form input.bordered[type=submit]:hover, form .aa-topbar.light input.bordered[type=submit]:hover, .aa-topbar.light .sub-content .setting ul li a.bordered:hover, .sub-content .setting ul li .aa-topbar.light a.bordered:hover, .sub-content .setting ul li a.butnDark.bordered:hover, .dropdown-item:hover, .main-bar .search form button:hover, .newsletter .follow-links a:hover {
  background: #765F25; }

.wcolorBG, .closeView i, .arrows .next, .arrows .prev, .aa-topbar.dark a:hover, .aa-topbar.dark .aa-link:not(.butn):hover, .aa-topbar.dark .panel-heading a:not(.butn):hover, .panel-heading .aa-topbar.dark a:not(.butn):hover, .carousel-caption .carousel-logo:after, .top-bar.info span:hover, .top-bar.info .aa-link:not(.butn):hover, .top-bar.info .panel-heading a:not(.butn):hover, .panel-heading .top-bar.info a:not(.butn):hover, #info-bar.info span:hover, #info-bar.info .aa-link:not(.butn):hover, #info-bar.info .panel-heading a:not(.butn):hover, .panel-heading #info-bar.info a:not(.butn):hover, .product-item .wrap {
  background: #ffffff; }

.grcolorBG, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .tab-content .tab-pane.active, .aa-topbar.light .aa-menu-wrap, .panel-heading {
  background: #F7F7F7; }

.gradBG, .butn.butnGrad, form input.butnGrad[type=submit], .sub-content .setting ul li a.butnGrad {
  background-image: linear-gradient(to top, #BB9248 45%, #765F25); }

.blackBG {
  background: #3B3B3D; }

.lcolorTxt, .arrows .next, .arrows .prev, .aa-number:after, .main-bar ul li a i, .sub-content .setting ul li a, .main-sidebar .side-item li a:hover, .fav, .compare, .main-content a:not(.butn):not(.btn), .main-content table a:not(.btn):not(.butn), footer i {
  color: #BB9248 !important; }

.dcolorTxt, .aa-select:after, .links-bar .aa-link:not(.butn), .links-bar .panel-heading a:not(.butn), .panel-heading .links-bar a:not(.butn), .fav:hover, .compare:hover {
  color: #765F25; }

.wcolorTxt, .butn.butnWhite:hover, form input.butnWhite[type=submit]:hover, .aa-topbar.dark .butn:hover, .aa-topbar.dark form input[type=submit]:hover, form .aa-topbar.dark input[type=submit]:hover, .aa-topbar.dark .sub-content .setting ul li a:hover, .sub-content .setting ul li .aa-topbar.dark a:hover, .sub-content .setting ul li a.butnWhite:hover, .butn.butnWhite.bordered:hover, form input.butnWhite.bordered[type=submit]:hover, .butn.butnBlack:hover, form input.butnBlack[type=submit]:hover, .sub-content .setting ul li a.butnBlack:hover, .butn.butnBlack.bordered:hover, form input.butnBlack.bordered[type=submit]:hover, .butn.butnLight.bordered:hover, form input.butnLight.bordered[type=submit]:hover, .sub-content .setting ul li a.butnLight.bordered:hover, .butn.butnDark.bordered:hover, form input.bordered[type=submit]:hover, .aa-topbar.light .butn.bordered:hover, .aa-topbar.light form input.bordered[type=submit]:hover, form .aa-topbar.light input.bordered[type=submit]:hover, .aa-topbar.light .sub-content .setting ul li a.bordered:hover, .sub-content .setting ul li .aa-topbar.light a.bordered:hover, .sub-content .setting ul li a.butnDark.bordered:hover, .arrows .next:hover, .arrows .prev:hover, form input[type=submit], .dropdown-item:hover, .top-bar.info span, .top-bar.info .aa-link:not(.butn), .top-bar.info .panel-heading a:not(.butn), .panel-heading .top-bar.info a:not(.butn), #info-bar.info span, #info-bar.info .aa-link:not(.butn), #info-bar.info .panel-heading a:not(.butn), .panel-heading #info-bar.info a:not(.butn), .aa-topbar .aa-menu .aa-menu-wrap li ul .aa-link:hover, .aa-topbar .aa-menu .aa-menu-wrap li ul .panel-heading a:hover, .panel-heading .aa-topbar .aa-menu .aa-menu-wrap li ul a:hover, .main-bar ul li a .badge, .main-bar .search form button:hover, .product-item .wrap .features .item, .product-item .wrap .actions a:hover, .newsletter form div, .newsletter form .form-control, .newsletter .follow-links a, .sub-content .setting.pages ul a:hover, .sub-content .setting.pages ul a.active, .main-sidebar .side-item li a.active, footer ul li a:hover {
  color: #fff !important; }

.fcolorTxt, .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .form-control, .top-bar a:not(.dropdown-item), #info-bar a:not(.dropdown-item), .main-bar ul li a, .main-bar .search form button, .product-item .wrap .content .brand, .product-item .wrap .content .title, .product-item .wrap .actions a, .main-sidebar .side-item li a, #prodetails .actions input[type=number], footer ul li a, footer .copyrights, footer .copyrights a {
  color: #898989; }

.blackTxt, .aa-topbar .aa-link, .aa-topbar .panel-heading a, .panel-heading .aa-topbar a {
  color: #3B3B3D; }

.clear-both {
  clear: both; }

.dis-block, .after, .main-title.line:after, .tex:after, .tex:before, .waving-bg:after, .waving-bg:before, .startsvg:after, .endsvg:before, .dropdown-menu:after, .carousel-caption .carousel-logo:after, .aa-number:after, .aa-select:after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, .aa-topbar .aa-logo:after, .price .discount:after, .newsletter:before, .main-title, .aa-link:not(.butn), .panel-heading a:not(.butn), .product-item .wrap .content .title, .main-sidebar .side-item li a, .main-sidebar .filter .title, #prodetails table tr, #prodetails .options .title, footer ul li a, footer .h5 {
  display: block; }

.dis-inline-block, ul.lined li, .aa-topbar .aa-menu ul.aa-menu-wrap li, ol.lined li, .aa-topbar .aa-menu ol.aa-menu-wrap li, .arrows .next, .arrows .prev, .main-bar ul li, .product-item .wrap .actions a, .sub-content .setting ul li {
  display: inline-block; }

.dis-flex, .aa-topbar, .aa-topbar .aa-logo, .aa-topbar .aa-menu, .product-item .wrap:hover .actions {
  display: flex;
  flex-wrap: wrap; }

.pos-rel, .main-title, .arrows .next, .arrows .prev, body, .waving-bg, .startsvg, .endsvg, .carousel-caption .carousel-logo, .container, .container-fluid, .top-bar, #info-bar, #main-slider, #main-slider .container, .aa-number, .aa-select, .aa-check, .aa-radio, .aa-topbar, .aa-topbar .aa-menu .aa-menu-wrap li ul .aa-link, .aa-topbar .aa-menu .aa-menu-wrap li ul .panel-heading a, .panel-heading .aa-topbar .aa-menu .aa-menu-wrap li ul a, .aa-topbar .aa-menu .aa-menu-wrap li ul li, .aa-dropdown, .main-bar ul li a, .main-bar .search form, .product-item .wrap, .price .discount, .newsletter, .newsletter form div, footer, footer .topbutn span {
  position: relative; }

.pos-abs, .after, .main-title.line:after, .tex:after, .tex:before, .waving-bg:after, .waving-bg:before, .startsvg:after, .endsvg:before, .dropdown-menu:after, .carousel-caption .carousel-logo:after, .aa-number:after, .aa-select:after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, .aa-topbar .aa-logo:after, .price .discount:after, .newsletter:before, .arrows, #main-slider .arrows, .aa-menuicon, .main-bar ul li a .badge, .main-bar .search form button, .product-item .wrap .features, .newsletter form div i, #prodetails .actions .addtofav {
  position: absolute; }

.pos-fix {
  position: fixed; }

.opacity-0 {
  opacity: 0; }

.opacity-1 {
  opacity: 1; }

.over-hidden, .carousel-caption .carousel-logo:after, .aa-check, .aa-radio, .aa-topbar .aa-menu .aa-menu-wrap li ul, .gallery-row .column a, .product-item .wrap .content .title, footer {
  overflow: hidden; }

.over-visible {
  overflow: visible; }

.rad-circle, .closeView i, .carousel-caption .carousel-logo img, .carousel-caption .carousel-logo:after, .aa-radio, .aa-radio:after, .aa-radio:before, .main-bar ul li a .badge, #prodetails .options input[type=radio], footer .topbutn span {
  border-radius: 50%; }

.bg-fx-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed; }

.lColor {
  color: #BB9248; }

.dColor {
  color: #765F25; }

.fColor {
  color: #898989; }

.light-bg {
  background-color: #BB9248; }

.cap {
  text-transform: capitalize; }

.white-txt {
  color: #ffffff; }

.trans, .butn, form input[type=submit], .sub-content .setting ul li a, .main-title.line:after, .arrows .next, .arrows .prev, body, .dropdown-item, .top-bar.info span, .top-bar.info .aa-link:not(.butn), .top-bar.info .panel-heading a:not(.butn), .panel-heading .top-bar.info a:not(.butn), #info-bar.info span, #info-bar.info .aa-link:not(.butn), #info-bar.info .panel-heading a:not(.butn), .panel-heading #info-bar.info a:not(.butn), #info-bar, .top-bar, .aa-navbutn, .aa-topbar .aa-menu, .aa-topbar .aa-menu .aa-menu-wrap li ul, .aa-topbar .aa-megamenu .aa-menu-wrap li, .main-bar .search form button, .gallery-row .column a img, .product-item .wrap, .product-item .wrap .actions, .product-item .wrap .actions a, .newsletter .follow-links a, .main-sidebar .side-item li a, #prodetails .actions .addtofav, .fav, .compare, footer ul li a {
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out; }

ul.unstyled, .aa-topbar .aa-menu ul.aa-menu-wrap, ol.unstyled, .aa-topbar .aa-menu ol.aa-menu-wrap {
  list-style: none; }

.butn, form input[type=submit], .sub-content .setting ul li a {
  text-decoration: none !important;
  text-align: center;
  padding: 10px 32px;
  margin: 10px 10px 10px 0;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 0; }
  .butn.butnWhite, form input.butnWhite[type=submit], .aa-topbar.dark .butn, .aa-topbar.dark form input[type=submit], form .aa-topbar.dark input[type=submit], .aa-topbar.dark .sub-content .setting ul li a, .sub-content .setting ul li .aa-topbar.dark a, .sub-content .setting ul li a.butnWhite {
    background: #ffffff;
    color: #BB9248 !important; }
    .butn.butnWhite.bordered, form input.butnWhite.bordered[type=submit], .aa-topbar.dark .butn.bordered, .aa-topbar.dark form input.bordered[type=submit], form .aa-topbar.dark input.bordered[type=submit], .aa-topbar.dark .sub-content .setting ul li a.bordered, .sub-content .setting ul li .aa-topbar.dark a.bordered, .sub-content .setting ul li a.butnWhite.bordered {
      color: #ffffff !important;
      background: transparent;
      border: 2px solid #F7F7F7; }
      .butn.butnWhite.bordered:hover, form input.butnWhite.bordered[type=submit]:hover, .aa-topbar.dark .butn.bordered:hover, .aa-topbar.dark form input.bordered[type=submit]:hover, form .aa-topbar.dark input.bordered[type=submit]:hover, .aa-topbar.dark .sub-content .setting ul li a.bordered:hover, .sub-content .setting ul li .aa-topbar.dark a.bordered:hover, .sub-content .setting ul li a.butnWhite.bordered:hover {
        background: #765F25;
        border-color: #BB9248; }
  .butn.butnBlack, form input.butnBlack[type=submit], .sub-content .setting ul li a.butnBlack {
    background: #3B3B3D;
    color: #ffffff !important; }
    .butn.butnBlack.bordered, form input.butnBlack.bordered[type=submit], .sub-content .setting ul li a.butnBlack.bordered {
      color: #3B3B3D !important;
      background: transparent;
      border: 2px solid #3B3B3D; }
      .butn.butnBlack.bordered:hover, form input.butnBlack.bordered[type=submit]:hover, .sub-content .setting ul li a.butnBlack.bordered:hover {
        background: #765F25;
        border-color: #BB9248; }
  .butn.butnLight, form input.butnLight[type=submit], .sub-content .setting ul li a.butnLight {
    background: #BB9248; }
    .butn.butnLight.bordered, form input.butnLight.bordered[type=submit], .sub-content .setting ul li a.butnLight.bordered {
      color: #BB9248 !important;
      background: transparent;
      border: 2px solid #BB9248; }
      .butn.butnLight.bordered:hover, form input.butnLight.bordered[type=submit]:hover, .sub-content .setting ul li a.butnLight.bordered:hover {
        border-color: #BB9248; }
  .butn.butnDark, form input[type=submit], .aa-topbar.light .butn, .aa-topbar.light form input[type=submit], form .aa-topbar.light input[type=submit], .aa-topbar.light .sub-content .setting ul li a, .sub-content .setting ul li .aa-topbar.light a, .sub-content .setting ul li a.butnDark {
    background: #765F25; }
    .butn.butnDark:hover, form input[type=submit]:hover, .aa-topbar.light .butn:hover, .aa-topbar.light form input[type=submit]:hover, form .aa-topbar.light input[type=submit]:hover, .aa-topbar.light .sub-content .setting ul li a:hover, .sub-content .setting ul li .aa-topbar.light a:hover, .sub-content .setting ul li a.butnDark:hover {
      background: #BB9248; }
    .butn.butnDark.bordered, form input.bordered[type=submit], .aa-topbar.light .butn.bordered, .aa-topbar.light form input.bordered[type=submit], form .aa-topbar.light input.bordered[type=submit], .aa-topbar.light .sub-content .setting ul li a.bordered, .sub-content .setting ul li .aa-topbar.light a.bordered, .sub-content .setting ul li a.butnDark.bordered {
      color: #765F25 !important;
      background: transparent;
      border: 2px solid #765F25; }
      .butn.butnDark.bordered:hover, form input.bordered[type=submit]:hover, .aa-topbar.light .butn.bordered:hover, .aa-topbar.light .sub-content .setting ul li a.bordered:hover, .sub-content .setting ul li .aa-topbar.light a.bordered:hover, .sub-content .setting ul li a.butnDark.bordered:hover {
        border-color: #765F25; }
  .butn.butnYellow, form input.butnYellow[type=submit], .sub-content .setting ul li a.butnYellow {
    background: #FAD93B; }
  .butn.paX, form input.paX[type=submit], .sub-content .setting ul li a.paX {
    padding-right: 70px;
    padding-left: 70px; }
  .butn.xl, form input.xl[type=submit], .sub-content .setting ul li a.xl {
    padding-right: 80px;
    padding-left: 80px; }

.big {
  font-size: 4rem; }

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  z-index: 9999;
  display: none; }
  .popup .content {
    width: 100%;
    height: 100%;
    display: block;
    overflow: scroll; }
    .popup .content video, .popup .content iframe, .popup .content img {
      margin: 0 auto;
      text-align: center;
      display: block;
      position: relative;
      width: 100%;
      padding: 10px;
      background: #fff; }

.closeView {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 26px;
  line-height: 50px;
  color: #BB9248;
  cursor: pointer; }
  .closeView:hover {
    color: #765F25; }
  .closeView i {
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    line-height: 50px; }

.divi {
  height: 2px;
  width: 70px;
  background: #BB9248;
  display: block;
  margin: 10px auto; }

.after, .main-title.line:after, .tex:after, .tex:before, .waving-bg:after, .waving-bg:before, .startsvg:after, .endsvg:before, .dropdown-menu:after, .carousel-caption .carousel-logo:after, .aa-number:after, .aa-select:after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, .aa-topbar .aa-logo:after, .price .discount:after, .newsletter:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.main-title {
  margin-bottom: 60px;
  /*&:after, &:before {
    @extend .trans;
    @extend .after;
    @extend .dis-block;
    @extend .dcolorBG;
    width: 100px;
    height: 3px;
    bottom: -20px;
    top: auto;

  }*/ }
  .main-title.line:after {
    width: 60px;
    height: 2px;
    bottom: 0;
    top: auto;
    right: 1px;
    left: 1px;
    margin: auto;
    /*  background-image: url("../imgs/lined.svg");
      background-size: 100%;
      background-repeat: no-repeat;*/ }
  .main-title.line.left:after {
    right: auto !important;
    left: 0; }
  .main-title .icon img {
    height: 80px; }
  .main-title.bordered {
    padding-bottom: 20px;
    border-bottom: 2px solid #898989; }

a {
  text-decoration: none !important; }

#goTop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 9999;
  background: #BB9248;
  opacity: 1;
  display: none; }
  #goTop a {
    width: 60px;
    height: 60px;
    padding: 10px;
    outline: 0;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    display: block; }
  #goTop:hover {
    opacity: 1;
    background: #765F25; }

.shadow, .arrows .next, .arrows .prev, #main-slider .arrows .prev, #main-slider .arrows .next, .product-item .wrap:hover {
  -webkit-box-shadow: -2px 7px 25px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 7px 25px -1px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 7px 25px -1px rgba(0, 0, 0, 0.15); }

.arrows {
  width: 110px;
  margin: auto;
  padding: 10px;
  z-index: 33;
  bottom: 0; }
  .arrows .next, .arrows .prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px; }
  .arrows .next {
    float: right; }
  .arrows .prev {
    float: left; }

.tex:after, .tex:before {
  width: 1000px;
  background-image: url(../imgs/path.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1; }
.tex:after {
  top: -50%;
  left: -250px;
  background-position: top left; }
.tex:before {
  bottom: -50%;
  right: -250px;
  left: auto;
  background-position: bottom right; }

.hid {
  overflow: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0; }

.middle, .aa-select:after, .price .discount:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@font-face {
  font-family: nexa;
  src: url(../webfonts/nexa/Nfexa-Light.otf);
  font-weight: normal; }
@font-face {
  font-family: nexa;
  src: url(../webfonts/nexa/Nfexa-Bold.otf);
  font-weight: bold; }
.owl-carousel {
  margin-right: auto;
  margin-left: auto; }
  .owl-carousel .owl-stage-outer {
    padding-bottom: 30px; }

body {
  font-family: Lato;
  color: #898989;
  font-size: 18px;
  background: #ffffff !important; }
  body.margBody {
    margin: 0 70% 0 -70% !important; }

body, html {
  overflow-x: hidden; }

.waving-bg:after, .waving-bg:before {
  width: 100%;
  height: 200px;
  background-image: url("../imgs/wave.svg");
  background-size: cover;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  bottom: -2px;
  top: auto;
  z-index: 1;
  animation: moving_wave 5s linear infinite alternate; }
.waving-bg:before {
  width: 125%;
  opacity: 0.5;
  bottom: 20px;
  background-position: 5% bottom;
  animation-duration: 7s; }

.startsvg:after {
  width: 100%;
  height: 400px;
  top: -20px;
  background-image: url("../imgs/zigzag.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 top;
  z-index: 1; }

.endsvg:before {
  width: 100%;
  height: 400px;
  top: auto;
  bottom: -10px;
  background-image: url("../imgs/zigzag.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  z-index: 1; }

/*Static Elements Style End*/
/*Bootstrap Edits Start*/
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.btn {
  border-radius: 0;
  border: none; }

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: none; }

.tab-pane {
  padding: 20px; }
  .tab-pane .desc {
    font-size: 9pt;
    line-height: 12pt; }

form {
  padding: 30px; }

.form-control {
  border-radius: 0;
  box-shadow: none !important;
  border: 2px solid #765F25;
  background: transparent !important; }
  .form-control:-moz-placeholder {
    color: #898989 !important; }
  .form-control:-ms-input-placeholder {
    color: #898989 !important; }
  .form-control:-ms-input-placeholder {
    color: #898989 !important; }
  .form-control::-webkit-input-placeholder {
    color: #898989 !important; }
  .form-control::-moz-placeholder {
    color: #898989 !important; }
  .form-control::placeholder {
    color: #898989 !important; }
  .form-control.white:-moz-placeholder {
    color: #ffffff !important; }
  .form-control.white:-ms-input-placeholder {
    color: #ffffff !important; }
  .form-control.white:-ms-input-placeholder {
    color: #ffffff !important; }
  .form-control.white::-webkit-input-placeholder {
    color: #ffffff !important; }
  .form-control.white::-moz-placeholder {
    color: #ffffff !important; }
  .form-control.white::placeholder {
    color: #ffffff !important; }

.aa-topbar.light a, .aa-topbar.light .aa-link:not(.butn), .aa-topbar.light .panel-heading a:not(.butn), .panel-heading .aa-topbar.light a:not(.butn) {
  color: #898989 !important; }
  .aa-topbar.light a:hover, .aa-topbar.light .aa-link:not(.butn):hover, .aa-topbar.light .panel-heading a:not(.butn):hover, .panel-heading .aa-topbar.light a:not(.butn):hover {
    color: #ffffff !important; }
.aa-topbar.dark .aa-menu-wrap {
  background: #BB9248 !important; }
.aa-topbar.dark a, .aa-topbar.dark .aa-link:not(.butn), .aa-topbar.dark .panel-heading a:not(.butn), .panel-heading .aa-topbar.dark a:not(.butn) {
  color: #ffffff !important; }
  .aa-topbar.dark a:hover, .aa-topbar.dark .aa-link:not(.butn):hover, .aa-topbar.dark .panel-heading a:not(.butn):hover, .panel-heading .aa-topbar.dark a:not(.butn):hover {
    color: #898989 !important; }
.aa-topbar .d-lg-none {
  text-align: right; }

.dropdown-menu {
  margin: 1.125rem 0 0; }
  .dropdown-menu:after {
    width: 0;
    height: 0;
    top: -15px;
    left: 15px;
    border-bottom: 15px solid #ffffff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent; }

.carousel-caption {
  right: auto;
  left: 150px;
  width: 400px;
  bottom: 170px;
  padding: 30px;
  text-align: center; }
  .carousel-caption .carousel-logo {
    width: 100%;
    margin: -100px auto 0 auto;
    padding: 10px; }
    .carousel-caption .carousel-logo img {
      width: 150px; }
    .carousel-caption .carousel-logo:after {
      width: 200px;
      height: 200px;
      top: -20px;
      bottom: auto;
      left: 1px;
      right: 1px;
      z-index: -1;
      margin: 0 auto; }

.container, .container-fluid {
  z-index: 9; }

/*Bootstrap Edits End*/
/*Keyframes Start*/
@keyframes moving_wave {
  0% {
    background-position: 15% bottom; }
  50% {
    background-position: 50% bottom; }
  100% {
    background-position: 75% bottom; } }
@-webkit-keyframes moving_wave {
  0% {
    background-position: 15% bottom; }
  50% {
    background-position: 50% bottom; }
  100% {
    background-position: 75% bottom; } }
@-moz-keyframes moving_wave {
  0% {
    background-position: 15% bottom; }
  50% {
    background-position: 50% bottom; }
  100% {
    background-position: 75% bottom; } }
@-ms-keyframes moving_wave {
  0% {
    background-position: 15% bottom; }
  50% {
    background-position: 50% bottom; }
  100% {
    background-position: 75% bottom; } }
@-o-keyframes moving_wave {
  0% {
    background-position: 15% bottom; }
  50% {
    background-position: 50% bottom; }
  100% {
    background-position: 75% bottom; } }
/*Keyframes End*/
/*Index Page Style Start*/
.top-bar, #info-bar {
  z-index: 90; }
  .top-bar .butn, .top-bar form input[type=submit], form .top-bar input[type=submit], .top-bar .sub-content .setting ul li a, .sub-content .setting ul li .top-bar a, #info-bar .butn, #info-bar form input[type=submit], form #info-bar input[type=submit], #info-bar .sub-content .setting ul li a, .sub-content .setting ul li #info-bar a {
    padding: 10px 30px; }
  .top-bar a:not(.dropdown-item), #info-bar a:not(.dropdown-item) {
    font-size: .8rem; }
    .top-bar a:not(.dropdown-item) i, #info-bar a:not(.dropdown-item) i {
      margin: 5px; }
    .top-bar a:not(.dropdown-item):hover, .top-bar a:not(.dropdown-item).active, #info-bar a:not(.dropdown-item):hover, #info-bar a:not(.dropdown-item).active {
      color: #765F25; }
  .top-bar.info, #info-bar.info {
    z-index: 99; }
    .top-bar.info span, .top-bar.info .aa-link:not(.butn), .top-bar.info .panel-heading a:not(.butn), .panel-heading .top-bar.info a:not(.butn), #info-bar.info span, #info-bar.info .aa-link:not(.butn), #info-bar.info .panel-heading a:not(.butn), .panel-heading #info-bar.info a:not(.butn) {
      font-size: 9pt;
      padding: 5px 10px;
      z-index: 9; }
      .top-bar.info span:hover, .top-bar.info .aa-link:not(.butn):hover, .top-bar.info .panel-heading a:not(.butn):hover, .panel-heading .top-bar.info a:not(.butn):hover, #info-bar.info span:hover, #info-bar.info .aa-link:not(.butn):hover, #info-bar.info .panel-heading a:not(.butn):hover, .panel-heading #info-bar.info a:not(.butn):hover {
        color: #898989 !important; }

#info-bar {
  padding: 10px 30px; }
  #info-bar a {
    text-decoration: none;
    font-size: .8rem; }
  #info-bar .links .conte {
    float: right; }

#info-bar, .top-bar {
  max-width: 100% !important;
  margin: 0;
  right: 0;
  left: 0; }
  #info-bar .navbar-brand img, .top-bar .navbar-brand img {
    height: 70px !important; }
  #info-bar .navbar-brand .logo1, .top-bar .navbar-brand .logo1 {
    display: none !important; }
  #info-bar .navbar-brand .logo2, .top-bar .navbar-brand .logo2 {
    display: block !important; }
  #info-bar .butn, #info-bar form input[type=submit], form #info-bar input[type=submit], #info-bar .sub-content .setting ul li a, .sub-content .setting ul li #info-bar a, .top-bar .butn, .top-bar form input[type=submit], form .top-bar input[type=submit], .top-bar .sub-content .setting ul li a, .sub-content .setting ul li .top-bar a {
    margin: 0; }

#info-bar.scroll, #info-bar.scro2 {
  top: 0; }

.top-bar.scroll, .top-bar.scro2 {
  top: 49px; }

#main-slider {
  z-index: 3; }
  #main-slider .arrows {
    right: 0;
    left: auto;
    bottom: 5px;
    z-index: 10; }

/*
* Ayat Ahmed Framwork
*/
.aa-number input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.aa-number:after {
  content: "\f107";
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  left: auto;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  z-index: -1; }

.aa-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.aa-select:after {
  content: "\f107";
  width: 20px;
  height: 20px;
  right: 0;
  left: auto;
  font-weight: 900;
  font-family: "Font Awesome 5 Free"; }

.aa-check, .aa-radio {
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  .aa-check:before, .aa-radio:before {
    width: 100%;
    height: 100%;
    border: 2px solid #BB9248; }
  .aa-check:after, .aa-radio:after {
    width: 50%;
    height: 50%;
    left: 1px;
    right: 1px;
    margin: auto;
    display: none; }
  .aa-check:checked:after, .aa-radio:checked:after {
    display: block; }

.aa-link:not(.butn), .panel-heading a:not(.butn) {
  padding: 20px 25px;
  font-size: 16px; }

.aa-navbutn {
  line-height: 50px;
  margin-left: auto;
  font-size: 20pt !important; }

.aa-topbar {
  padding: 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }
  .aa-topbar .aa-logo {
    align-items: center;
    padding: 10px 40px; }
    .aa-topbar .aa-logo:after {
      width: 300px;
      height: 220px;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1; }
    .aa-topbar .aa-logo img {
      max-height: 50px; }
  .aa-topbar .aa-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto; }
    .aa-topbar .aa-menu .aa-menu-wrap {
      padding: 0;
      margin: 0; }
      .aa-topbar .aa-menu .aa-menu-wrap li ul .aa-link, .aa-topbar .aa-menu .aa-menu-wrap li ul .panel-heading a, .panel-heading .aa-topbar .aa-menu .aa-menu-wrap li ul a {
        padding: 10px 30px; }
      .aa-topbar .aa-menu .aa-menu-wrap li ul li ul {
        left: 100%;
        top: 0; }
      .aa-topbar .aa-menu .aa-menu-wrap li ul.show {
        height: auto;
        overflow: visible; }
  .aa-topbar .aa-megamenu {
    /*
    .aa-img {
      @extend .dis-block;
      height: 100px;
      margin: $marg auto;
    }*/ }
    .aa-topbar .aa-megamenu .aa-menu-wrap {
      right: 1px;
      left: 1px; }
      .aa-topbar .aa-megamenu .aa-menu-wrap li {
        display: block !important;
        border: 2px solid transparent;
        margin: auto; }
      .aa-topbar .aa-megamenu .aa-menu-wrap.show {
        display: block;
        height: auto;
        overflow: visible; }
  .aa-topbar.scrolled .aa-link, .aa-topbar.scrolled .panel-heading a, .panel-heading .aa-topbar.scrolled a {
    color: #898989; }

.aa-dropmenu .aa-menu-wrap {
  z-index: 99; }

.aa-dropmenu .aa-menu-wrap {
  display: none; }
  .aa-dropmenu .aa-menu-wrap .main-title {
    margin-bottom: 10px;
    padding-bottom: 20px; }
  .aa-dropmenu .aa-menu-wrap ul li a {
    font-size: 9pt; }
  .aa-dropmenu .aa-menu-wrap.show {
    display: block;
    padding: 20px; }

.aa-menuicon {
  top: 10px;
  right: -5px; }

.main-bar {
  padding: 5px; }
  .main-bar .aa-menu {
    text-align: center; }
  .main-bar .logo {
    padding-top: 15px 0; }
  .main-bar ul {
    margin: 0; }
    .main-bar ul li a {
      padding: 10px;
      font-size: 12pt; }
      .main-bar ul li a i {
        font-size: 14pt;
        margin: 0 10px; }
      .main-bar ul li a .badge {
        font-size: 8pt;
        left: 50px;
        top: 15px;
        background: #F5484C; }
  .main-bar .search form {
    padding: 15px 0; }
    .main-bar .search form .form-control {
      width: 100%;
      border-color: #BB9248; }
    .main-bar .search form, .main-bar .search form .form-control {
      font-size: 10pt; }
    .main-bar .search form button {
      background: transparent;
      border: 0;
      outline: none;
      padding: 7px 10px;
      top: 15px;
      right: 0;
      left: auto; }

.links-bar .aa-link:not(.butn), .links-bar .panel-heading a:not(.butn), .panel-heading .links-bar a:not(.butn) {
  font-size: 9pt;
  padding: 10px; }

.gallery-row {
  width: 100%;
  column-gap: 20px;
  padding: 20px 0; }
  .gallery-row .column {
    width: 100%;
    min-height: 250px;
    -webkit-break-inside: avoid;
    -moz-break-inside: avoid;
    -ms-break-inside: avoid;
    -o-break-inside: avoid;
    break-inside: avoid; }
    .gallery-row .column a {
      margin-bottom: 20px; }
      .gallery-row .column a:hover img {
        width: 110% !important; }

.featured-products .arrows {
  right: 1px;
  left: 1px;
  margin: auto;
  bottom: 30px; }

.product-item .wrap {
  padding: 5px; }
  .product-item .wrap .img, .product-item .wrap .content, .product-item .wrap .brand, .product-item .wrap .rating, .product-item .wrap .price, .product-item .wrap .actions {
    margin-bottom: 5px; }
  .product-item .wrap .img {
    height: 200px; }
  .product-item .wrap .features {
    top: 10px;
    right: 0;
    z-index: 9; }
    .product-item .wrap .features .item {
      font-size: 8pt;
      padding: 10px; }
      .product-item .wrap .features .item.dc {
        background: #F5484C; }
      .product-item .wrap .features .item.special {
        background: #01DCC6; }
  .product-item .wrap .content .brand {
    font-size: 10pt;
    max-height: 15px; }
  .product-item .wrap .content .title {
    max-height: 40px; }
  .product-item .wrap .actions {
    display: none;
    margin-top: 10px; }
    .product-item .wrap .actions a {
      padding: 10px;
      width: 33%; }

.rating {
  font-size: 9pt; }

.price .discount {
  padding: 5px; }
  .price .discount:after {
    width: 100%;
    height: 2px;
    background: #F5484C; }

.brands {
  padding: 40px 0; }
  .brands .item {
    width: 120px;
    margin: auto; }

.newsletter {
  padding: 30px 0; }
  .newsletter:before {
    opacity: 0.5; }
  .newsletter form div i {
    top: 10px;
    right: 10px; }
  .newsletter form .form-control {
    border-color: #ffffff;
    width: 250px;
    padding-right: 30px; }
  .newsletter .butn, .newsletter form input[type=submit], form .newsletter input[type=submit], .newsletter .sub-content .setting ul li a, .sub-content .setting ul li .newsletter a {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px; }
  .newsletter .follow-links a {
    text-decoration: none;
    padding: 10px; }

.sub-content .main-title {
  margin: 10px 0; }
.sub-content .setting {
  border: 2px solid #f4f4f4;
  margin: 10px 0;
  font-size: 10pt !important; }
  .sub-content .setting a {
    font-size: 10pt !important; }
  .sub-content .setting ul {
    list-style: none;
    padding-right: 10px; }
    .sub-content .setting ul li a {
      padding: 5px; }
  .sub-content .setting input[type=text], .sub-content .setting input[type=number], .sub-content .setting select {
    background: #ffffff !important;
    height: 30px !important;
    padding: 0;
    margin: 7px 5px 0 5px;
    width: 100px; }
  .sub-content .setting.pages {
    line-height: 40px; }
    .sub-content .setting.pages ul {
      text-align: right; }
      .sub-content .setting.pages ul a {
        margin: 0; }

.main-sidebar .side-item {
  padding: 0 10px; }
  .main-sidebar .side-item li a {
    font-size: 10pt;
    padding: 5px; }
    .main-sidebar .side-item li a:hover {
      padding-left: 5px; }
.main-sidebar .filter .filter-item {
  padding: 10px 0; }
.main-sidebar .filter .title {
  margin-bottom: 10px; }
.main-sidebar .filter #price-input {
  background: #F7F7F7 !important;
  border: none;
  border-bottom: 2px solid #765F25;
  padding-bottom: 10px; }
.main-sidebar .filter .check label {
  vertical-align: top; }
.main-sidebar .InputSliderRange-Handler {
  border: 4px solid #BB9248; }

#proGallery {
  height: 600px;
  margin-bottom: 30px; }

#prodetails {
  padding-top: 20px; }
  #prodetails form {
    padding: 0; }
  #prodetails .rating, #prodetails tr {
    margin-top: 10px; }
  #prodetails .details-table .row:not(:last-child) {
    border-bottom: 1px solid #3B3B3D; }
  #prodetails .details-table .row {
    padding: 5px; }
  #prodetails table tr td:nth-child(2) {
    padding: 0 10px; }
  #prodetails .price-item {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #BB9248;
    border-bottom: 2px solid #BB9248; }
  #prodetails .options input[type=radio] {
    width: 40px;
    height: 40px;
    margin: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 3px solid transparent; }
    #prodetails .options input[type=radio]:hover, #prodetails .options input[type=radio]:checked {
      border-color: #BB9248; }
  #prodetails .options .title {
    margin: 20px 0 10px 0; }
  #prodetails .actions input[type=number] {
    width: 65px;
    padding: 5px;
    margin: 0;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield; }
    #prodetails .actions input[type=number]::-webkit-inner-spin-button, #prodetails .actions input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none; }
  #prodetails .actions .addtofav {
    top: -40px;
    right: 20px;
    left: auto;
    bottom: auto; }
  #prodetails .actions .more, #prodetails .actions .less {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0; }
  #prodetails .shipping-info {
    margin-top: 20px; }

.fav, .compare {
  padding: 10px; }

#reviewTabsContent .review-item {
  margin-top: #BB9248;
  padding: 20px 0;
  border-bottom: 1px solid #BB9248; }
  #reviewTabsContent .review-item, #reviewTabsContent .review-item .time {
    font-size: 9pt; }
  #reviewTabsContent .review-item .time {
    text-align: right; }
  #reviewTabsContent .review-item .head {
    margin-bottom: 10px; }
  #reviewTabsContent .review-item .rating {
    margin-top: 10px; }

#form-review {
  padding: 20px 0; }

.main-content .panel-heading {
  margin-top: 10px; }
.main-content .login .wrap {
  margin-top: 10px;
  padding: 30px;
  border: 2px solid #F7F7F7; }
.main-content table img {
  width: auto;
  height: 100px; }
.main-content .table-item {
  max-width: 100%;
  overflow-x: scroll; }

footer {
  padding: 50px 0 20px 0; }
  footer .container {
    z-index: 3; }
  footer ul li a {
    font-size: 12pt;
    padding: 5px; }
  footer .h5 {
    margin-bottom: 20px; }
  footer .topbutn span {
    width: 50px;
    height: 50px;
    line-height: 50px; }
  footer .logos img {
    margin-right: 10px; }
  footer .copyrights {
    margin-top: 40px;
    font-size: 14px; }
  footer .desc {
    font-size: 8pt; }
  footer i {
    margin-right: 10px; }
  footer .paid-imgs img {
    height: 20px;
    margin: 0 5px; }

/* zoom plugin*/
.zoom-main span {
  border: none; }

@keyframes random-dots {
  0% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes random-dotss {
  0% {
    transform: scale(1.2);
    opacity: 0.2; }
  100% {
    transform: scale(5);
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
