/**
 * Saudi Emaar Website
 * Version: 1.0
 * Author: Mntsher company
 * Author URL: https://mntsher.com
 * Designer: Ayat Ahmed
 * Designer URL: instagram.com/ayaat.a7med
 * Copyrights 2019
 */
/*Vars List Start*/
/*Vars List End*/
/*Media Queries Start*/
@media (max-width: 575.98px) {
  .jRight, .jLeft {
    text-align-last: center; }

  .aa-topbar .aa-menu {
    left: 0;
    right: auto; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .jRight, .jLeft {
    text-align-last: center; }

  .aa-topbar .aa-menu {
    left: 0;
    right: auto; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .jRight, .jLeft {
    text-align-last: center; }

  .aa-topbar .aa-menu {
    left: 0;
    right: auto; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .jRight {
    text-align-last: left; }

  .jLeft {
    text-align-last: right; } }
@media (min-width: 1200px) {
  .jRight {
    text-align-last: left; }

  .jLeft {
    text-align-last: right; } }
@font-face {
  font-family: "Hacan";
  src: url(../webfonts/ar/HacenMaghrebLt.ttf);
  font-weight: normal; }
@font-face {
  font-family: "Hacan Bold";
  src: url(../webfonts/ar/HacenMaghrebBd.ttf); }
.aa-navbutn {
  margin-left: 0;
  margin-right: auto;
  text-align: left !important; }

.ml-auto {
  margin-right: auto !important;
  margin-left: 0 !important; }

.mr-auto {
  margin-left: auto !important;
  margin-right: 0 !important; }

body {
  font-family: "Hacan", Arial; }

.flip-y, .aa-topbar .aa-logo:after {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flip-x {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.owl-carousel, #proGallery, .InputSliderRange-Scale {
  direction: ltr; }
  .owl-carousel li, #proGallery li, .InputSliderRange-Scale li {
    direction: rtl; }

.main-title.line.left:after {
  left: auto !important;
  right: 0 !important; }

body.margBody {
  margin: 0 -70% 0 70% !important; }

.aa-topbar .aa-megamenu ul {
  left: 1px;
  right: auto; }

.aa-menuicon {
  right: auto;
  left: 0; }
  .aa-menuicon .fa-angle-right:before {
    content: "\f104"; }

.main-bar ul li a .badge {
  right: 50px;
  left: auto; }

.product-item .wrap .features {
  left: 0;
  right: auto; }

footer i, .aa-check, .aa-radio {
  margin-left: 10px;
  margin-right: 0; }

.main-bar .search form button {
  left: 0;
  right: auto; }

.aa-select:after {
  left: 0;
  right: auto; }

#reviewTabsContent .review-item .time,
.sub-content .setting.pages ul {
  text-align: left; }

.butn, form input[type=submit], .sub-content .setting ul li a {
  margin: 10px 0 10px 10px; }

/*# sourceMappingURL=rtl.css.map */
