/**
 * Saudi Emaar Website
 * Version: 1.0
 * Author: Mntsher company
 * Author URL: https://mntsher.com
 * Designer: Ayat Ahmed
 * Designer URL: instagram.com/ayaat.a7med
 * Copyrights 2019
 */
/*Vars List Start*/
$lColor: #BB9248;
$dColor: #765F25;
$black: #3B3B3D;
$lGColor: #23B7C8;
$green: #01DCC6;
$red: #F5484C;
$yellow: #FAD93B;
$fontColor: #898989;
$lblue: #EAF8FF;
$wh: #ffffff;
$dwh: #f4f4f4;
$gr: #F7F7F7;
$marg: 10px;
/*Vars List End*/
/*Media Queries Start*/
// Extra small devices (portrait phones, less than 576px)

@media (max-width: 575.98px) {
  .jRight, .jLeft {
    text-align-last: center;
  }

  .dropdown-menu {
    &:after {
      display: none !important;
    }
  }
  .popup {

    video, iframe, img {
      height: auto;
    }
  }
  .gallery-row {
    columns: 1;
  }
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .product-item{
    .img{
      img{
        height: 100% !important;
        width: auto !important;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      overflow: hidden;
      background: $dColor;
      position: fixed;
      right: 0;
      bottom: 0;
      top: 0;
      width: 0;
      z-index: 9;
      padding: ($marg * 8) 0 ($marg * 2) 0;
      -webkit-transition: 0.5s all ease-in-out;
      -moz-transition: 0.5s all ease-in-out;
      -o-transition: 0.5s all ease-in-out;
      -ms-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out;
      .dropdown-menu {
        background: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
      }
      a {
        color: $wh !important;
        font-size: 20px !important;
        padding: $marg;
      }
    }
    &.show {
      .navbar-nav {
        width: 70%;
        padding: ($marg * 8) ($marg * 2) ($marg * 2) ($marg * 2);
      }
    }
  }
  .aa-topbar {
    .aa-menu {
      position: fixed;
      padding: 0;
      bottom: 0;
      top: 0;
      right: 0;
      width: 0;
      overflow: scroll;
      align-items: start;
      .aa-menu-wrap {
        box-shadow: none !important;
        li {
          display: block !important;
          ul {
            display: block !important;
            position: relative !important;
          }
        }
      }

      &.show {
        width: 70%;
        padding: $marg * 5;

      }
    }
  }
  .aa-dropmenu{
    .aa-menu-wrap{
      &.show{
          position: relative;
      }
    }
  }
  .aa-topbar .aa-megamenu ul.show {
    padding: $marg;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .jRight, .jLeft {
    text-align-last: center;
  }
  .popup {

    video, iframe, img {
      height: auto;
    }
  }
  .gallery-row {
    columns: 1;
  }
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .product-item{
    .img{
      img{
        height: 100% !important;
        width: auto !important;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      overflow: hidden;
      background: $lColor;
      position: fixed;
      right: 0;
      bottom: 0;
      top: 0;
      width: 0;
      z-index: 9;
      padding: 0;
      -webkit-transition: 0.5s all ease-in-out;
      -moz-transition: 0.5s all ease-in-out;
      -o-transition: 0.5s all ease-in-out;
      -ms-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out;
      .dropdown-menu {
        background: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
      }
      a {
        color: $wh !important;
      }
    }
    &.show {
      .navbar-nav {
        width: 70%;
        padding: ($marg * 8) ($marg * 2) ($marg * 2) ($marg * 2);
      }
    }
  }

  .coll-butn {
    color: $lColor !important;
  }
  .navbar-brand {
    img {
      height: 60px;
    }
  }
  .aa-topbar {
    .aa-menu {
      position: fixed;
      padding: 0;
      bottom: 0;
      top: 0;
      right: 0;
      width: 0;
      overflow: scroll;
      align-items: start;
      .aa-menu-wrap {
        box-shadow: none !important;
        li {
          display: block !important;
          ul {
            display: block !important;
            position: relative !important;
            li {
              ul {
                display: block !important;
                left: 0 !important;
                margin: 0 $marg;
              }
            }
          }
        }
      }

      &.show {
        width: 70%;
        padding: $marg * 5;

      }
    }
  }
  .aa-dropmenu{
    .aa-menu-wrap{
      &.show{
        position: relative;
      }
    }
  }
  .aa-topbar .aa-megamenu ul.show {
    padding: $marg;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .jRight, .jLeft {
    text-align-last: center;
  }
  .popup {

    video, iframe, img {
      height: auto;
    }
  }
  .gallery-row {
    columns: 2;
  }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .product-item{
    .img{
      img{
        height: 100% !important;
        width: auto !important;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      overflow: hidden;
      background: $lColor;
      position: fixed;
      right: 0;
      bottom: 0;
      top: 0;
      width: 0;
      z-index: 9;
      padding: 0;
      -webkit-transition: 0.5s all ease-in-out;
      -moz-transition: 0.5s all ease-in-out;
      -o-transition: 0.5s all ease-in-out;
      -ms-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out;
      .dropdown-menu {
        background: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
      }
      a {
        color: $wh !important;
      }
    }
    &.show {
      .navbar-nav {
        width: 70%;
        padding: ($marg * 8) ($marg * 2) ($marg * 2) ($marg * 2);
      }
    }
  }

  .coll-butn {
    color: $lColor !important;
  }

  .navbar-brand {
    img {
      height: 100px;
    }
  }

  .aa-topbar {
    .aa-menu {
      position: fixed;
      padding: 0;
      bottom: 0;
      top: 0;
      right: 0;
      width: 0;
      overflow: scroll;
      align-items: start;
      .aa-menu-wrap {
        box-shadow: none !important;
        li {
          display: block !important;
          ul {
            display: block !important;
            position: relative !important;
            li {
              ul {
                display: block !important;
                left: 0 !important;
                margin: 0 $marg;
              }
            }
          }
        }
      }

      &.show {
        width: 70%;
        padding: $marg * 5;

      }
    }
  }

  .aa-topbar .aa-megamenu ul.show {
    padding: $marg;
  }

  .aa-dropmenu{
    .aa-menu-wrap{
      &.show{
        position: absolute;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .jRight {
    text-align-last: right;
  }
  .jLeft {
    text-align-last: left;
  }
  .popup {

    video, iframe {
      height: 100%;
    }
  }
  #main-footer {
    .logo {
      margin-top: 100px;
    }
  }

  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .navbar-brand {
    img {
      height: 100px;
    }
  }

  .gallery-row {
    columns: 3;
  }
  .aa-topbar .aa-megamenu ul.show {
    padding: $marg*4;
  }
  .aa-topbar {
    .aa-menu {
      position: relative;
      align-items: center;
    }
    .aa-megamenu {
      ul {
        width: 1140px;
      }
    }
  }

  .aa-dropmenu{
    .aa-menu-wrap{
      &.show{
        position: absolute;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .jRight {
    text-align-last: right;
  }
  .jLeft {
    text-align-last: left;
  }
  .popup {

    video, iframe {
      height: 100%;
    }
  }
  #main-footer {
    .logo {
      margin-top: 100px;
    }
  }

  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .navbar-brand {
    img {
      height: 100px;
    }
  }

  .gallery-row {
    columns: 3;
  }
  .aa-topbar .aa-megamenu .show {
    padding: $marg*4;
  }
  .aa-topbar {
    .aa-menu {
      position: relative;
      align-items: center;
    }
    .aa-megamenu {
      ul {
        width: 1140px;
      }
    }
  }

  .aa-dropmenu{
    .aa-menu-wrap{
      &.show{
        position: absolute;
      }
    }
  }
}

/*Media Queries End*/
/*Static Elements Style Start*/
.mouse {
  cursor: pointer !important;
}

.flip-y {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-x {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.jRight,
.jLeft,
.jCenter {
  text-align: justify;
}

.jCenter {
  text-align-last: center;
}

.txt-center {
  text-align: center;
}

.f-light {
  font-family: "Lato Light";
  font-weight: 100;
}

.f-bold {
  font-family: "Lato Black";
  font-weight: bold;
}

.secPad-top {
  padding-top: 11 * $marg;
}

.secPad-bottom {
  padding-bottom: 11 * $marg;
}

.lcolorBG {
  background: $lColor;
}

.dcolorBG {
  background: $dColor;
}

.wcolorBG {
  background: $wh;
}

.grcolorBG {
  background: $gr;
}

.gradBG {
  background-image: linear-gradient(to top, $lColor 45%, $dColor);
}

.blackBG {
  background: $black;
}

.lcolorTxt {
  color: $lColor !important;
}

.dcolorTxt {
  color: $dColor;
}

.wcolorTxt {
  color: #fff !important;
}

.fcolorTxt {
  color: $fontColor;
}

.blackTxt {
  color: $black;
}

.clear-both {
  clear: both;
}

.dis-block {
  display: block;
}

.dis-inline-block {
  display: inline-block;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.over-hidden {
  overflow: hidden;
}

.over-visible {
  overflow: visible;
}

.rad-circle {
  border-radius: 50%;
}

.bg-fx-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.lColor {
  color: $lColor;
}

.dColor {
  color: $dColor;
}

.fColor {
  color: $fontColor;
}

.light-bg {
  background-color: $lColor;
}

.cap {
  text-transform: capitalize;
}

.white-txt {
  color: $wh;
}

.trans {
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

ul, ol {
  &.unstyled {
    list-style: none;
  }
  &.lined {
    li {
      @extend .dis-inline-block;
    }
  }
}

.butn {
  @extend .mouse;
  @extend .trans;
  text-decoration: none !important;
  text-align: center;
  //font-size: 16pt;
  padding: 10px 32px;
  margin: $marg $marg $marg 0;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 0;
  &.butnWhite {
    background: $wh;
    color: $lColor !important;
    &:hover {
      @extend .dcolorBG;
      @extend .wcolorTxt;
    }
    &.bordered {
      color: $wh !important;
      background: transparent;
      border: 2px solid $gr;

      &:hover {
        background: $dColor;
        @extend .wcolorTxt;
        border-color: $lColor;
      }
    }
  }
  &.butnBlack {
    background: $black;
    color: $wh !important;
    &:hover {
      @extend .dcolorBG;
      @extend .wcolorTxt;
    }
    &.bordered {
      color: $black !important;
      background: transparent;
      border: 2px solid $black;

      &:hover {
        background: $dColor;
        @extend .wcolorTxt;
        border-color: $lColor;
      }
    }
  }
  &.butnLight {
    background: $lColor;
    &:hover {
      @extend .dcolorBG;
    }
    &.bordered {
      color: $lColor !important;
      background: transparent;
      border: 2px solid $lColor;

      &:hover {
        @extend .lcolorBG;
        @extend .wcolorTxt;
        border-color: $lColor;
      }
    }
  }
  &.butnDark {
    background: $dColor;
    &:hover {
      background: $lColor;
    }

    &.bordered {
      color: $dColor !important;
      background: transparent;
      border: 2px solid $dColor;

      &:hover {
        @extend .dcolorBG;
        @extend .wcolorTxt;
        border-color: $dColor;
      }
    }
  }
  &.butnYellow {
    background: $yellow;
    &:hover {
      @extend .lcolorBG;
    }
  }
  &.butnGrad {
    @extend .gradBG;
    &:hover {
      @extend .lcolorBG;
    }
  }
  &.paX {
    padding-right: $marg * 7;
    padding-left: $marg * 7;
  }
  &.xl {
    padding-right: ($marg * 8);
    padding-left: ($marg * 8);
  }

}

.big {
  font-size: 4rem;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  z-index: 9999;
  display: none;
  .content {
    width: 100%;
    height: 100%;
    display: block;
    overflow: scroll;
    video, iframe, img {
      margin: 0 auto;
      text-align: center;
      display: block;
      position: relative;
      width: 100%;
      padding: 10px;
      background: #fff;
    }

  }
}

.closeView {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 26px;
  line-height: 50px;
  color: $lColor;
  cursor: pointer;
  &:hover {
    color: $dColor;
  }
  i {
    @extend .rad-circle;
    @extend .wcolorBG;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.divi {
  height: 2px;
  width: 70px;
  background: $lColor;
  display: block;
  margin: 10px auto;
}

.after {
  @extend .pos-abs;
  @extend .dis-block;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-title {
  @extend .pos-rel;
  @extend .dis-block;
  margin-bottom: $marg * 6;

  /*&:after, &:before {
    @extend .trans;
    @extend .after;
    @extend .dis-block;
    @extend .dcolorBG;
    width: 100px;
    height: 3px;
    bottom: -20px;
    top: auto;

  }*/
  &.line {
    &:after {
      @extend .trans;
      @extend .after;
      @extend .dis-block;
      @extend .lcolorBG;
      width: 60px;
      height: 2px;
      bottom: 0;
      top: auto;
      right: 1px;
      left: 1px;
      margin: auto;
    /*  background-image: url("../imgs/lined.svg");
      background-size: 100%;
      background-repeat: no-repeat;*/

    }
    &.left {
      &:after {
        right: auto !important;
        left: 0;
      }
    }
  }
  .icon {
    img {
      height: 80px;
    }
  }
  &.bordered {
    padding-bottom: $marg * 2;
    border-bottom: 2px solid $fontColor;
  }
}

a {
  text-decoration: none !important;
}

#goTop {
  @extend .mouse;
  position: fixed;
  bottom: $marg;
  right: $marg * 2;
  z-index: 9999;
  background: $lColor;
  opacity: 1;
  display: none;
  a {
    width: 60px;
    height: 60px;
    padding: $marg;
    outline: 0;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    color: $wh;
    display: block;
  }
  &:hover {
    opacity: 1;
    background: $dColor;
  }
}

.shadow {-webkit-box-shadow: -2px 7px 25px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: -2px 7px 25px -1px rgba(0,0,0,0.15);
  box-shadow: -2px 7px 25px -1px rgba(0,0,0,0.15);
}

.arrows {
  @extend .pos-abs;
  width: 110px;
  margin: auto;
  padding: $marg;
  z-index: 33;
  bottom: 0;
  .next, .prev {
    @extend .pos-rel;
    @extend .dis-inline-block;
    @extend .txt-center;
    @extend .mouse;
    @extend .trans;
    @extend .shadow;
    @extend .wcolorBG;
    @extend .lcolorTxt;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    &:hover {
      @extend .lcolorBG;
      @extend .wcolorTxt;
    }
  }
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
}

.tex {
  &:after, &:before {
    @extend .after;
    width: 1000px;
    background-image: url(../imgs/path.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &:after {
    top: -50%;
    left: -250px;
    background-position: top left;
  }
  &:before {
    bottom: -50%;
    right: -250px;
    left: auto;
    background-position: bottom right;
  }
}

.hid {
  overflow: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
  font-family: nexa;
  src: url(../webfonts/nexa/Nfexa-Light.otf);
  font-weight: normal;
}

@font-face {
  font-family: nexa;
  src: url(../webfonts/nexa/Nfexa-Bold.otf);
  font-weight: bold;
}
.owl-carousel{
  margin-right: auto;
  margin-left: auto;
.owl-stage-outer{
  padding-bottom: 30px;
}
}
body {
  @extend .trans;
  @extend .pos-rel;
  font-family: Lato;
  color: $fontColor;
  font-size: 18px;
  background: $wh !important;
  &.margBody {
    margin: 0 70% 0 -70% !important;
  }

}

body, html {
 overflow-x: hidden;
}

.waving-bg {
  @extend .pos-rel;
  &:after, &:before {
    @extend .after;
    width: 100%;
    height: 200px;
    background-image: url("../imgs/wave.svg");
    background-size: cover;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    bottom: -2px;
    top: auto;
    z-index: 1;
    animation: moving_wave 5s linear infinite alternate;

  }
  &:before {
    width: 125%;
    opacity: 0.5;
    bottom: $marg * 2;
    background-position: 5% bottom;
    animation-duration: 7s;
  }
}

.startsvg {
  @extend .pos-rel;
  &:after {
    @extend .after;
    width: 100%;
    height: 400px;
    top: $marg * -2;
    background-image: url("../imgs/zigzag.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 top;
    z-index: 1;

  }
}

.endsvg {
  @extend .pos-rel;
  &:before {
    @extend .after;
    width: 100%;
    height: 400px;
    top: auto;
    bottom: $marg * -1;
    background-image: url("../imgs/zigzag.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    z-index: 1;

  }
}

/*Static Elements Style End*/

/*Bootstrap Edits Start*/

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.btn{
  border-radius:0;
  border: none;
}
.btn-primary{
  @extend .lcolorBG;
}
.nav-tabs .nav-link , .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  @extend .fcolorTxt;
  border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active , .tab-content .tab-pane.active{
  @extend .grcolorBG;
}
.tab-pane{
  padding:$marg * 2;
  .desc{
  font-size: 9pt;
    line-height: 12pt;
}
}

form {
  padding: $marg * 3;
  input[type=submit] {
    @extend .butn;
    @extend .butnDark;
    @extend .wcolorTxt;
  }
}

.form-control {
  @extend .fcolorTxt;
  border-radius: 0;
  box-shadow: none !important;
  border: 2px solid $dColor;
  background: transparent !important;
  &:-moz-placeholder {
    color: $fontColor !important;
  }
  &:-ms-input-placeholder {
    color: $fontColor !important;
  }
  &:-ms-input-placeholder {
    color: $fontColor !important;
  }
  &::-webkit-input-placeholder {
    color: $fontColor !important;
  }
  &::-moz-placeholder {
    color: $fontColor !important;
  }
  &::placeholder {
    color: $fontColor !important;
  }
  &.white{
    &:-moz-placeholder {
      color: $wh !important;
    }
    &:-ms-input-placeholder {
      color: $wh !important;
    }
    &:-ms-input-placeholder {
      color: $wh !important;
    }
    &::-webkit-input-placeholder {
      color: $wh !important;
    }
    &::-moz-placeholder {
      color: $wh !important;
    }
    &::placeholder {
      color: $wh !important;
    }
  }
}

.aa-topbar {
  &.light {
    .aa-menu-wrap {
      @extend .grcolorBG;
    }
    a ,.aa-link:not(.butn) {
      color: $fontColor !important;
      &:hover {
        @extend .lcolorBG;
        color: $wh !important;
      }
    }
    .butn {
      @extend .butnDark;
    }
  }
  &.dark {
    .aa-menu-wrap {
    background: $lColor !important;
    }
    a , .aa-link:not(.butn) {
      color: $wh !important;
      &:hover {
        @extend .wcolorBG;
        color: $fontColor !important;
      }
    }
    .butn {
      @extend .butnWhite;
    }
  }
.d-lg-none{
  text-align: right;
}
}

.navbar-collapse {

}

.dropdown-menu {
  margin: 1.125rem 0 0;
  &:after {
    @extend .after;
    width: 0;
    height: 0;
    top: -15px;
    left: 15px;
    border-bottom: 15px solid $wh;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }
  &.show {

  }
}

.dropdown-item {
  @extend .trans;
  &:hover {
    @extend .dcolorBG;
    @extend .wcolorTxt;
  }
}

.carousel-caption {
  right: auto;
  left: 150px;
  width: 400px;
  bottom: 170px;
  padding: $marg * 3;
  text-align: center;
  .carousel-logo {
    // @extend .wcolorBG;
    //@extend .rad-circle;
    @extend .pos-rel;
    width: 100%;
    margin: ($marg * -10) auto 0 auto;
    padding: $marg;
    img {
      @extend .rad-circle;
      width: 150px;
    }
    &:after {
      @extend .after;
      @extend .over-hidden;
      @extend .wcolorBG;
      @extend .rad-circle;
      width: 200px;
      height: 200px;
      top: $marg * -2;
      bottom: auto;
      left: 1px;
      right: 1px;
      z-index: -1;
      margin: 0 auto;
    }
  }
}

.container, .container-fluid {
  @extend .pos-rel;
  z-index: 9;
}

/*Bootstrap Edits End*/
/*Keyframes Start*/

@keyframes moving_wave {
  0% {
    background-position: 15% bottom;
  }
  50% {
    background-position: 50% bottom;
  }
  100% {
    background-position: 75% bottom;
  }

}

@-webkit-keyframes moving_wave {
  0% {
    background-position: 15% bottom;
  }
  50% {
    background-position: 50% bottom;
  }
  100% {
    background-position: 75% bottom;
  }
}

@-moz-keyframes moving_wave {
  0% {
    background-position: 15% bottom;
  }
  50% {
    background-position: 50% bottom;
  }
  100% {
    background-position: 75% bottom;
  }
}

@-ms-keyframes moving_wave {
  0% {
    background-position: 15% bottom;
  }
  50% {
    background-position: 50% bottom;
  }
  100% {
    background-position: 75% bottom;
  }
}

@-o-keyframes moving_wave {
  0% {
    background-position: 15% bottom;
  }
  50% {
    background-position: 50% bottom;
  }
  100% {
    background-position: 75% bottom;
  }
}

/*Keyframes End*/
/*Index Page Style Start*/
.top-bar, #info-bar {
  @extend .pos-rel;
  z-index: 90;
  .butn {
    padding: $marg ($marg * 3);
  }
  a:not(.dropdown-item) {
    @extend .fcolorTxt;
    font-size: .8rem;
    i {
      margin: 5px;
    }
    &:hover, &.active {
      color: $dColor;
    }
  }

  &.info {
    z-index: 99;
    span, .aa-link:not(.butn) {
      @extend .trans;
      @extend .wcolorTxt;
      font-size: 9pt;
      padding: 5px $marg;
      z-index: 9;
      &:hover {
        @extend .wcolorBG;
        color: $fontColor !important;

      }
    }
  }
}

#info-bar {
  padding: $marg ($marg * 3);
  a {
    text-decoration: none;
    font-size: .8rem;
  }
  .links {
    .conte {
      float: right;
    }
    a {
      //padding: 5px;
    }

  }
}

#info-bar, .top-bar {
  @extend .trans;
  max-width: 100% !important;
  margin: 0;
  // position: fixed;
  right: 0;
  left: 0;
  .navbar-brand {
    img {
      height: 70px !important;
    }
    .logo1 {
      display: none !important;
    }
    .logo2 {
      display: block !important;
    }
  }
  .butn {
    margin: 0;
  }

}

#info-bar {
  &.scroll, &.scro2 {
    top: 0;
  }
}

.top-bar {
  &.scroll, &.scro2 {
    top: 49px;
  }
}

#main-slider {
  @extend .pos-rel;
  z-index: 3;
  .arrows {
    @extend .pos-abs;
    right: 0;
    left: auto;
    bottom: 5px;
    z-index: 10;
    .prev, .next {
      @extend .shadow;
    }
    //  bottom: $marg * 10;
    //left: $marg * 10;
  }
  .container {
    @extend .pos-rel;
  }

}

/*
* Ayat Ahmed Framwork
*/
.aa-number{
  @extend .pos-rel;
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &:after{
    @extend .after;
    @extend .lcolorTxt;
    content: "\f107";
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    left: auto;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    z-index: -1;
  }
}
.aa-select{
@extend .pos-rel;
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &:after{
    @extend .after;
    @extend .middle;
    @extend .dcolorTxt;
    content: "\f107";
    width: 20px;
    height: 20px;
    right: 0;
    left: auto;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }
}
.aa-check , .aa-radio{
  @extend .pos-rel;
  @extend .mouse;
  @extend .over-hidden;
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: $marg;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  &:before{
    @extend .after;
    width: 100%;
    height: 100%;
    border: 2px solid $lColor;
  }
  &:after{
    @extend .after;
    @extend .lcolorBG;
    width: 50%;
    height: 50%;
    left: 1px;
    right: 1px;
    margin: auto;
    display: none;
  }
  &:checked{
    &:after{
      display: block;
    }
  }
}
.aa-radio{
  & , &:after, &:before{
    @extend .rad-circle;
  }
}
.aa-link:not(.butn) {
  @extend .dis-block;
  padding: ($marg * 2) ($marg * 2.5);
  font-size: 16px;

}

.aa-navbutn {
  @extend .trans;
  line-height: 50px;
  margin-left: auto;
  font-size: 20pt !important;
}

.aa-topbar {
  @extend .dis-flex;
  @extend .pos-rel;
  padding: 0 ($marg * 2);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  .aa-logo, .aa-menu {
    @extend .dis-flex;
  }
  .aa-logo {
    align-items: center;
    padding: $marg ($marg * 4);
    &:after {
      @extend .after;
      width: 300px;
      height: 220px;
      // background-image: url("../imgs/logo-bg.svg");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }
    img {
      max-height: 50px;
    }

  }
  .aa-menu {
    @extend .trans;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    .aa-menu-wrap {
      @extend .unstyled;
      @extend .lined;
      padding: 0;
      margin: 0;

      //border-radius: 20px;
      li {
        ul {
          @extend .trans;
          @extend .over-hidden;
          .aa-link {
            @extend .pos-rel;
            padding: $marg ($marg * 3);
            &:hover {
              @extend .lcolorBG;
              @extend .wcolorTxt;
            }
          }
          li {
            @extend .pos-rel;
            ul {
              left: 100%;
              top: 0;
            }
          }
          &.show {
            height: auto;
            overflow: visible;
          }
        }
      }
    }
  }
  .aa-megamenu {
    .aa-menu-wrap {
      right: 1px;
      left: 1px;
      li {
        @extend .trans;
        display: block !important;
        border: 2px solid transparent;
        margin: auto;
      }
      &.show {
        display: block;
        height: auto;
        overflow: visible;
      }
    }
    /*
    .aa-img {
      @extend .dis-block;
      height: 100px;
      margin: $marg auto;
    }*/

  }
  .aa-link {
    @extend .blackTxt;
  }
  &.scrolled {
    .aa-link {
      color: $fontColor;
    }
  }
}
.aa-dropmenu{

  .aa-menu-wrap{
    z-index: 99;
  }
}
.aa-dropdown {
  @extend .pos-rel;
}
.aa-dropmenu{
  .aa-menu-wrap{
    display: none;
    .main-title{
      margin-bottom: $marg;
      padding-bottom: $marg *2;
    }
    ul{
      li{
        a{
          font-size: 9pt;
        }
      }
    }
    &.show{
      display: block;
      padding: $marg * 2;
      ul{
      }
    }
  }
}
.aa-menuicon {
  @extend .pos-abs;
  top: $marg;
  right: -5px;
}

.main-bar {
  padding: 5px;
  .aa-menu{
   text-align: center;
  }
  .logo {
    padding-top: $marg * 1.5 0;
  }
  ul {
    margin: 0;
    li {
      @extend .dis-inline-block;
      a {
        @extend .fcolorTxt;
        @extend .pos-rel;
        padding: $marg;
        font-size: 12pt;
        i {
          @extend .lcolorTxt;
          font-size: 14pt;
          margin: 0 $marg;
        }
        .badge {
          @extend .pos-abs;
          @extend .rad-circle;
          @extend .wcolorTxt;
          font-size: 8pt;
          left: 50px;
          top: $marg * 1.5;
          background: $red;
        }
      }
    }
  }
  .search {
    form {
      @extend .pos-rel;
      padding: ($marg *1.5) 0;
      .form-control {
        width: 100%;
        border-color: $lColor;
      }
      &, .form-control {

        font-size: 10pt;
      }
      button {
        @extend .trans;
        @extend .mouse;
        @extend .fcolorTxt;
        @extend .pos-abs;
        background: transparent;
        border: 0;
        outline: none;
        padding: 7px $marg;
        top: $marg * 1.5;
        right: 0;
        left: auto;
        &:hover {
          @extend .dcolorBG;
          @extend .wcolorTxt;
        }
      }
    }
  }
}

.links-bar {
  .aa-link:not(.butn) {
    @extend .dcolorTxt;
    font-size: 9pt;
    padding: $marg;
  }
}

.gallery-row {
  width: 100%;
  column-gap: $marg * 2;
  padding: ($marg * 2) 0;
  .column {
    width: 100%;
    min-height: 250px;
    // margin-bottom: $marg * 2;
    -webkit-break-inside: avoid;
    -moz-break-inside: avoid;
    -ms-break-inside: avoid;
    -o-break-inside: avoid;
    break-inside: avoid;
    a {
      @extend .over-hidden;
      margin-bottom: $marg * 2;
      img {
        @extend .trans;
      }
      &:hover {
        img {
          // transform: scale(1.1);
          width: 110% !important;
        }
      }
    }
  }
}
.featured-products{
  .arrows{
    right: 1px;
    left: 1px;
    margin: auto;
    bottom: $marg * 3;
  }
}
.product-item {
  .wrap {
    @extend .trans;
    @extend .pos-rel;
    @extend .wcolorBG;
    padding: 5px;
    .img, .content, .brand, .rating, .price, .actions {
      margin-bottom: 5px;
    }
    .img {
      height: 200px;
    }
    .features{
      @extend .pos-abs;
      top: $marg;
      right: 0;
      z-index: 9;
      .item{
        @extend .wcolorTxt;
        font-size: 8pt;
        padding: $marg;
        &.dc{
          background: $red;
        }
        &.special{
          background: $green;
        }
      }
    }
    .content {
      .brand {
        @extend .fcolorTxt;
        font-size: 10pt;
        max-height: $marg * 1.5;
      }
      .title {
        @extend .dis-block;
        @extend .over-hidden;
        @extend .fcolorTxt;
        max-height: $marg * 4;
      }
    }
    .actions {
      @extend .trans;
      @extend .txt-center;
      display: none;
      margin-top: $marg;
      a {
        @extend .trans;
        @extend .dis-inline-block;
        @extend .fcolorTxt;
        padding: $marg;
        width: 33%;
        &:hover {
          @extend .lcolorBG;
          @extend .wcolorTxt;
        }
      }
    }
    &:hover {
      @extend .shadow;
      .actions {
        @extend .dis-flex;
      }
    }
  }
}

.rating {
  font-size: 9pt;
}
.price {
  .discount {
    @extend .pos-rel;
    padding: 5px;
    &:after {
      @extend .after;
      @extend .middle;
      width: 100%;
      height: 2px;
      background: $red;
    }
  }
}
.brands{
  padding: ($marg * 4) 0;
  .item{
    width: 120px;
    margin: auto;
  }
}
.newsletter{
  @extend .pos-rel;
  padding: ($marg * 3) 0;
  &:before{
    @extend .lcolorBG;
    @extend .after;
    opacity: 0.5;

  }
  form{
    div{
      @extend .pos-rel;
      @extend .wcolorTxt;
      i{
        @extend .pos-abs;
        top: $marg;
        right: $marg;
      }
    }
    .form-control{
      @extend .wcolorTxt;
      border-color: $wh;
      width: 250px;
      padding-right: 30px;
    }
  }
  .butn{
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .follow-links{
    a{
      @extend .trans;
      @extend .wcolorTxt;
      text-decoration: none;
      padding: $marg;
      &:hover{
        @extend .dcolorBG;
      }
    }
  }
}
.sub-content{
  .main-title{
  margin: $marg 0;
  }
  .setting{
    border: 2px solid $dwh;
    margin: $marg 0;
    font-size: 10pt !important;
    a{
      font-size: 10pt !important;
    }
    ul{
      list-style: none;
      padding-right: $marg;
      li{
        @extend .dis-inline-block;
        a{
          @extend .butn;
          @extend .lcolorTxt;
          padding: 5px;
        }
      }
    }
    input[type=text] , input[type=number] , select{
      background: $wh !important;
      height: 30px !important;
      padding: 0;
      margin: 7px 5px 0 5px;
      width: 100px;
    }
    &.pages{
      line-height: 40px;
      ul{
        text-align: right;
        a{
          margin: 0;
          &:hover, &.active{
            @extend .lcolorBG;
            @extend .wcolorTxt;
          }
        }
      }
    }
  }
}
.main-sidebar{
  .side-item{
    padding: 0 $marg;
    li{
      a{
        @extend .trans;
        @extend .dis-block;
        @extend .fcolorTxt;
        font-size: 10pt;
        padding: 5px;
        &:hover{
          @extend .lcolorTxt;
          padding-left: 5px ;
        }
        &.active{
          @extend .lcolorBG;
          @extend .wcolorTxt;
        }
      }
    }
  }
  .filter{
    .filter-item{
      padding: $marg 0;
    }
    .title{
      @extend .dis-block;
      margin-bottom: 10px;
    }
    #price-input{
      background: $gr !important;
      border: none;
      border-bottom: 2px solid $dColor;
      padding-bottom: $marg;
    }
    .check{
      label{
        vertical-align: top;
      }
    }
  }
  .InputSliderRange-Handler {
    border: 4px solid $lColor;
  }
  .InputSliderRange-Fill{
    @extend .lcolorBG;
  }
}
#proGallery{
  height: 600px;
  margin-bottom: $marg * 3;
}
#prodetails{
  padding-top: $marg * 2;
  form{
    padding: 0;
  }
  .rating , tr{
    margin-top: $marg;
  }
  .details-table{
    .row:not(:last-child) {
      border-bottom: 1px solid $black;
    }
    .row{
      padding: 5px;
    }
  }
  table{
    tr{
      @extend .dis-block;
      td:nth-child(2){
        padding: 0 $marg;
      }
    }
  }
  .price-item{
    margin-top: $marg * 2;
   padding-top: $marg *2 ;
   padding-bottom: $marg *2 ;
    border-top: 2px solid $lColor;
    border-bottom: 2px solid $lColor;
  }
  .options{
    input[type=radio]{
      @extend .mouse;
      @extend .rad-circle;
      width: 40px;
      height: 40px;
      margin: 5px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 3px solid transparent;
      &:hover ,&:checked{
        border-color: $lColor;
      }
    }
    .title{
      @extend .dis-block;
      margin: ( $marg * 2 ) 0 $marg 0;
    }
  }

  .actions {
    input[type=number] {
      @extend .fcolorTxt;
      width: 65px;
      padding: 5px;
      margin: 0;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
    .addtofav {
      @extend .trans;
      @extend .pos-abs;
      top: $marg * -4;
      right: $marg * 2;
      left: auto;
      bottom: auto;
    }
    .more, .less {
      padding-right: 5px;
      padding-left: 5px;
      margin: 0;
    }
  }
  .shipping-info{
    margin-top: $marg * 2;
  }
}
.fav , .compare{
  @extend .trans;
  @extend .lcolorTxt;
  padding: $marg;
  &:hover{
    @extend .dcolorTxt;
  }
}
#reviewTabsContent{
  .review-item{
    margin-top: $lColor;
    padding: ($marg * 2) 0;
    border-bottom: 1px solid $lColor;
    & , .time{
      font-size: 9pt;
    }
    .time{
      text-align: right;
    }
    .head{
      margin-bottom: $marg;
    }
    .rating{
      margin-top: $marg;
    }
  }
}
#form-review{
  padding: ($marg * 2) 0;
}
.main-content{
.panel-heading{
  margin-top: $marg;
}
  a:not(.butn):not(.btn){
    @extend .lcolorTxt;
  }
  .login{
    .wrap{
      margin-top: $marg;
      padding: $marg * 3;
      border: 2px solid $gr;
    }
  }
  table{
    a:not(.btn):not(.butn){
      @extend .lcolorTxt;
    }
    img{
      width: auto;
      height: 100px;
    }
  }
  .table-item{
    max-width: 100%;
    overflow-x: scroll;
  }
}
.panel-heading{
  @extend .grcolorBG;
  a{
    @extend .aa-link;
  }
}
footer {
  @extend .pos-rel;
  @extend .over-hidden;
  padding: ($marg * 5) 0 ($marg * 2) 0;
  .container {
    z-index: 3;
  }
  ul {
    li {
      a {
        @extend .trans;
        @extend .f-light;
        @extend .dis-block;
        @extend .fcolorTxt;
        font-size: 12pt;
        padding: 5px;
        &:hover{
          @extend .lcolorBG;
          @extend .wcolorTxt;
        }
      }
    }
  }
  .h5 {
    @extend .dis-block;
    margin-bottom: $marg * 2;
  }
  .topbutn {
    span {
      @extend .rad-circle;
      @extend .pos-rel;
      width: 50px;
      height: 50px;
      line-height: 50px;
      //left: 58px;
    }
  }
  .logos {
    img {
      margin-right: $marg;
    }
  }
  .copyrights {
    margin-top: $marg * 4;
    font-size: 14px;
    &, a {
      @extend .fcolorTxt;
    }
  }
  .desc{
    font-size: 8pt;
  }
  i{
    @extend .lcolorTxt;
    margin-right: $marg;
  }
  .paid-imgs{
    img{
      height: 20px;
      margin: 0 5px;
    }
  }
}
/* zoom plugin*/
.zoom-main span{
  border: none;
}
@keyframes random-dots {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes random-dotss {
  0% {
    transform: scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: scale(5);
    opacity: 0
  }
}
