/**
 * Saudi Emaar Website
 * Version: 1.0
 * Author: Mntsher company
 * Author URL: https://mntsher.com
 * Designer: Ayat Ahmed
 * Designer URL: instagram.com/ayaat.a7med
 * Copyrights 2019
 */
/*Vars List Start*/
$lColor: #6EAFA3;
$lGColor: #23B7C8;
$dColor: #263C82;
$fontColor: #9D9FA1;
$wh: #ffffff;
$dwh: #f4f4f4;
$gr: #F7F7F7;
$black: #052C31;
$yellow: #FAD93B;
$marg: 10px;
/*Vars List End*/
/*Media Queries Start*/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .jRight, .jLeft {
    text-align-last: center;
  }
  .aa-topbar .aa-menu {
    left: 0;
    right: auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .jRight, .jLeft {
    text-align-last: center;
  }

  .aa-topbar .aa-menu {
    left: 0;
    right: auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .jRight, .jLeft {
    text-align-last: center;
  }

  .aa-topbar .aa-menu {
    left: 0;
    right: auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .jRight {
    text-align-last: left;
  }
  .jLeft {
    text-align-last: right;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .jRight {
    text-align-last: left;
  }
  .jLeft {
    text-align-last: right;
  }

}

@font-face {
  font-family: "Hacan";
  src: url(../webfonts/ar/HacenMaghrebLt.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Hacan Bold";
  src: url(../webfonts/ar/HacenMaghrebBd.ttf);
  // font-weight: bold;
}

.aa-navbutn {
  margin-left: 0;
  margin-right: auto;
  text-align: left !important;
}

.ml-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.mr-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

body {
  font-family: "Hacan", Arial;
}

.flip-y {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-x {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.owl-carousel , #proGallery ,.InputSliderRange-Scale{
  direction: ltr;
  li {
    direction: rtl;
  }
}

.main-title.line.left:after {
  left: auto !important;
  right: 0 !important;
}

body {
  &.margBody {
    margin: 0 -70% 0 70% !important;
  }

}
.aa-topbar .aa-megamenu ul {
  left: 1px;
  right: auto;
}
.aa-menuicon {
  right: auto;
  left: 0;
  .fa-angle-right:before {
    content: "\f104";
  }
}
.aa-topbar .aa-logo:after{
  @extend .flip-y;
}
.main-bar ul li a .badge {
  right: 50px;
  left: auto;
}
.product-item .wrap .features {
  left: 0;
  right:auto;
}
footer i ,.aa-check, .aa-radio{
  margin-left: $marg;
  margin-right: 0;
}
.main-bar .search form button {
  left: 0;
  right: auto;
}
.aa-select:after {
  left: 0;
  right: auto;
}
#reviewTabsContent .review-item .time ,
.sub-content .setting.pages ul{
  text-align: left;
}
.butn, form input[type=submit], .sub-content .setting ul li a{
  margin: $marg 0 $marg $marg;
}